{% load static %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

<script src="{% static 'store/js/index.js' %}" ></script>

<script type="text/javascript">

    var updateBtns = document.getElementsByClassName("update-cart")

    for (i=0; i < updateBtns.length; i++){

            updateBtns[i].addEventListener("click", function(){

                var productId = this.dataset.product
                var action = this.dataset.action
                    console.log('product:', productId, 'action:',action)

                if (user == 'AnonymousUser'){
                    console.log("user is not authenticated")
                }else{
                     updateUserOder(productId , action )
                }
            })
    }

function updateUserOder(productId , action ){
    console.log(" user is  authenticated")

    var url='/update/'

    fetch(url,{
    method: 'POST',
    headers: {
    'Content-Type':'application/json',
    'X-CSRFToken':csrftoken,
    },
    body:JSON.stringify({ 'productId':productId, 'action':action })

    })
    .then((response) => { return response.json() })
    .then((data) => { location.reload() })

}
</script>
