{% extends 'base.html' %}
{% load static %}


{% block content %}


<!-- Start Cart  -->
<div class="cart-box-main mt-5" style="margin-bottom:150px">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address">

                    <form class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name *</label>
                                <input class="form-control" id="firstName" placeholder="" required
                                       type="text" value="">
                                <div class="invalid-feedback"> Valid first name is required.</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Last name *</label>
                                <input class="form-control" id="lastName" placeholder="" required
                                       type="text" value="">
                                <div class="invalid-feedback"> Valid last name is required.</div>
                            </div>
                        </div>

                              <div class="title-left">
                                <h3>Shipping address</h3>
                              </div>
                                <hr>
                         <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name *</label>
                                <input class="form-control" id="firstName" placeholder="" required
                                       type="text" value="">
                                <div class="invalid-feedback"> Valid first name is required.</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Last name *</label>
                                <input class="form-control" id="lastName" placeholder="" required
                                       type="text" value="">
                                <div class="invalid-feedback"> Valid last name is required.</div>
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name *</label>
                                <input class="form-control" id="firstName" placeholder="" required
                                       type="text" value="">
                                <div class="invalid-feedback"> Valid first name is required.</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Last name *</label>
                                <input class="form-control" id="lastName" placeholder="" required
                                       type="text" value="">
                                <div class="invalid-feedback"> Valid last name is required.</div>
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name *</label>
                                <input class="form-control" id="firstName" placeholder="" required
                                       type="text" value="">
                                <div class="invalid-feedback"> Valid first name is required.</div>
                            </div>
<!--                            <div class="col-md-6 mb-3">-->
<!--                                <label for="lastName">Last name *</label>-->
<!--                                <input class="form-control" id="lastName" placeholder="" required-->
<!--                                       type="text" value="">-->
<!--                                <div class="invalid-feedback"> Valid last name is required.</div>-->
<!--                            </div>-->
                        </div>

                        <input type="submit" class="btn btn-success form-control" value="continue">


                        {% comment %}
                        <hr class="mb-4">
                        <div class="title"><span>Payment</span></div>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input checked class="custom-control-input" id="credit" name="paymentMethod"
                                       required type="radio">
                                <label class="custom-control-label" for="credit">Credit card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" id="debit" name="paymentMethod" required
                                       type="radio">
                                <label class="custom-control-label" for="debit">Debit card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" id="paypal" name="paymentMethod"
                                       required
                                       type="radio">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Name on card</label>
                                <input class="form-control" id="cc-name" placeholder="" required
                                       type="text"> <small
                                    class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback"> Name on card is required</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Credit card number</label>
                                <input class="form-control" id="cc-number" placeholder="" required
                                       type="text">
                                <div class="invalid-feedback"> Credit card number is required</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Expiration</label>
                                <input class="form-control" id="cc-expiration" placeholder="" required
                                       type="text">
                                <div class="invalid-feedback"> Expiration date required</div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">CVV</label>
                                <input class="form-control" id="cc-cvv" placeholder="" required type="text">
                                <div class="invalid-feedback"> Security code required</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="payment-icon">
                                    <ul>
                                        <li><img alt="" class="img-fluid" src="images/payment-icon/1.png">
                                        </li>
                                        <li><img alt="" class="img-fluid" src="images/payment-icon/2.png">
                                        </li>
                                        <li><img alt="" class="img-fluid" src="images/payment-icon/3.png">
                                        </li>
                                        <li><img alt="" class="img-fluid" src="images/payment-icon/5.png">
                                        </li>
                                        <li><img alt="" class="img-fluid" src="images/payment-icon/7.png">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-1">

                        {% endcomment %}
                    </form>
                </div>
            </div>


            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="row">

                    <div class="col-md-12 col-lg-12">
                        <div class="order-box">
                            <div class="title-left mb-3">
                                <h3>Order Summary </h3>
                            </div>
                            <hr>
                            <div class="d-flex">
                                <div class="font-weight-bold">Product</div>
                                <div class="ml-auto font-weight-bold">Price</div>
                            </div>
                            <hr class="my-1">
                             {% for item in items %}
                            <div class="d-flex">
                                <h6> {{ item.product.title }}</h6>
                                <div class="ml-auto font-weight-bold"> x {{ item.quantity }}&nbsp; &nbsp; &nbsp; &nbsp; $ {{ item.product.price }} </div>
                            </div>
                            {% endfor %}

                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Grand Total</h5>
                                <div class="ml-auto h5"> $ <b>{{ order.get_cart_total }} </b> </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-12 float-left"><a class="ml-auto btn btn-dark"
                                                               href="{% url 'store:cart' %}">&#x2190; Back to cart </a></div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- End Cart -->

{% endblock content %}