{% extends  'base.html' %}
{% load static %}


{% block content %}
<style>

    .img-fluid {
        width: 100%;
        height: 15vw;
        object-fit: cover;
        cursor: pointer;
    }



.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

</style>

<!-- Start Products  -->
<div class="products-box mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  special-grid">
                <div class="title-all text-center " style="margin-bottom: 85px; margin-top: 30px;">
                    <h1> Products </h1>
                    <p></p>
                </div>
            </div>
        </div>

    </div>


    <div class="container">
        <div class="row ">
            {% for product in products %}
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 special-grid " style="margin-bottom: 100px; ">
                <div class="products-single fix">
                    <div class="container hovereffect">
                        <img alt="Image" class="img-fluid img-responsive" src="media/{{ product.image }}">

                        <h4 class=" ml-auto mt-1"><b>{% if product.discount_price %}
                            <del>R {{ product.price }}</del>
                            R {{ product.discount_price }} {% else %} R {{ product.price }} {% endif %}</b></h4>
                        <p> {{ product.description }}</p>
                        <h5> {{ product.title }}</h5>
                        <button class="card-link btn btn-outline-info  update-cart" data-action="add" data-product="{{ product.id }}"> Add to cart </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

<!-- End Products  -->

{% include  'apps/store/_includes/pagination.html'  %}

{% endblock content %}