{% extends  'base.html' %}
{% load static %}


{% block content %}
<style>
    .header img{
        width: 100%;
        height: 250px;
    }

      @media (min-width: 769px) and (max-width: 992px) {

.text-size{
 font-size: 45px;
}

.mb-2{
 font-size: 65px;
}

}
</style>

{% include 'apps/store/_includes/banner.html' %}


<div class="container-sm  mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 wow fadeInUp">
            <h1 class="text-center mb-2 mb-3 mb-sm-5 mt-sm-5">Welcome to Paris Collection</h1>
            <div class="text-lg text-size">
                <p>Established in 2015, Paris Collection is a brand on the verge of becoming a household name.
                    Worn by some of the most recognizable faces over the past two decades, Paris Collection has been
                    constantly delivering the hottest men’s clothing trends of the time. Every Paris Collection
                    product is designed, cut, and sewn in the heart of the Paris in France.

                </p>

                <p>Our brand has evolved significantly over time, breaking trends and setting new ones, but one thing we have not changed is our desire to give our customers truly unique and highly fashionable clothing of the highest quality.

                Our  “Paris Collection” is simple: Never stop evolving as a brand, and as human beings..</p>
            </div>
        </div>
        <div class="col-lg-10 mt-5">
            <h1 class="text-center mb-5 mb-2 mb-sm-5 mt-sm-5 wow fadeInUp">Our Staff</h1>
            <div class="row justify-content-center">

                {#% for staff in our_staffs %#}
                <div class="col-md-6 col-lg-4 wow zoomIn">
                    <div class="card-doctor">
                        <div class="header">
                            <img alt="" src="{% static 'media/photo/kam6.jpg' %}">
                            <div class="meta">
                                <a href="#"><span class="mai-call"></span></a>
                                <a href="#"><span class="mai-logo-whatsapp"></span></a>
                            </div>
                        </div>
                        <div class="body">
                            <p class="text-xl mb-0">{#{ staff.name }#} </p>
                            <span class="text-sm text-grey">{#{ staff.job_position }#}</span>
                        </div>
                    </div>
                </div>
                {#% endfor %#}

            </div>
        </div>
    </div>
</div>

{% endblock content %}