{% load static %}

<style>
/*
    .carousel-inner .carousel-item{
        height: 70vh;
        position: relative
    }

    .carousel-caption{
        text-align: left;
        /*color: #DC5B21;*/
        color: #0C2340;
        font-weight: 600;
        margin: 0;
        position: absolute;               /* 2 */
        top: 50%;                         /* 3 */
        transform: translate(0, -50%)
    }
*/

    .carousel-item img {
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }

    @media (min-width: 769px) and (max-width: 992px) {

        .carousel-item img {
            width: 100%;
            height: 50vh;
            object-fit: cover;
        }
    }

</style>

<div class="carousel slide" data-ride="carousel" id="carouselExampleSlidesOnly">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img alt="First slide" class="d-block w-100 bg-gradient-dark" src="{% static 'media/photo/kam6.jpg' %}">
             {% comment %}
            <div class="carousel-caption d-none d-md-block">
                <h1 style="">WELCOME TO </h1>
                <h1 style="">PARIS COLLECTION </h1>
                <h1 style="">L'HABILLEMENT CE NOUS </h1>
            </div>
             {% endcomment %}

        </div>
        <div class="carousel-item">
            <img alt="Second slide" class="d-block w-100 bg-gradient-dark" src="{% static 'media/photo/kam7.jpg' %}">
            {% comment %}
            <div class="carousel-caption d-none d-md-block">
                <h1 style="" >WELCOME TO </h1>
                <h1 style="">PARIS COLLECTION </h1>
                <h1 style="">L'HABILLEMENT CE NOUS </h1>
            </div>
             {% endcomment %}
        </div>
        <div class="carousel-item">
            <img alt="Third slide" class="d-block w-100 bg-gradient-dark" src="{% static 'media/photo/kam8.jpg' %}">
             {% comment %}
            <div class="carousel-caption d-none d-md-block">
                <h1 style="">WELCOME TO </h1>
                <h1 style="">PARIS COLLECTION </h1>
                <h1 style="">L'HABILLEMENT CE NOUS </h1>
            </div>
             {% endcomment %}
        </div>

    </div>
</div>